<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net45" />
  <package id="OpenCvSharp-AnyCPU" version="2.4.10.20150203" targetFramework="net40" />
  <package id="OpenCvSharp-WithoutDll" version="2.4.10.20150203" targetFramework="net40" />
</packages>